@using Microsoft.AspNetCore.Identity
@model IEnumerable<InstitucionMVC.Models.Asignatura>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Asignaturas</h1>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary float-end" asp-action="Create">Create New</a>
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Asignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            @if (SignInManager.IsSignedIn(User))
            {
                <th>Acciones</th>
            }
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Asignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a class="btn btn-secondary m-1" asp-action="Edit" asp-route-id="@item.Asignatura_Id">Edit</a> |
                        <a class="btn btn-dark m-1" asp-action="Details" asp-route-id="@item.Asignatura_Id">Details</a> |
                        <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.Asignatura_Id">Delete</a>
                    </td>
                }
            
        </tr>
}
    </tbody>
</table>
